@import '../../../styles/base.scss';

.component {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 1);

    opacity: 0;

}

.close {
    @include reset-button;
    position: fixed;
    top: px-to-rem(20);
    left: 50%;
    transform: translate(-50%, 0);
    
    display: inline-block;
    padding: px-to-rem(10) px-to-rem(20);

    border-radius: 3px;
    background-color: #fff;
    color: #000;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    span {
        position: relative;
    }

}

.container {
    position: relative;
    width: 160px;
    height: 90px;

    background-color: #3f3f3f;
    transition: background-color 0.35s;

    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;

        animation-name: video-popup-loading-indicator;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;

        transition: opacity .35s;
    }

    @keyframes video-popup-loading-indicator {
        from {
            transform: scale(0, 1);
            transform-origin: top left;
        }
        50% {
            transform-origin: top left;
            transform: scale(1, 1);
        }
        50.01% {
            transform-origin: top right;
            transform: scale(1, 1);
        }
        to {
            transform: scale(0, 1);
            transform-origin: top right;
        }
    }

    & > * {
        opacity: 0;
        transition: opacity .5s;
    }

    &:global.loaded {
        background-color: transparent;
        &:before {
            opacity: 0;
        }
        & > * {
            opacity: 1;
        }
    }

}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > iframe,
    & > video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    video {
        object-fit: cover;
    }

    font-size: 16px;

}