html,
body {
    @include hide-scroll-bars;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
textarea,
button,
select {
    font-family: $font-family;
}

* {
    text-size-adjust: 100%;
    @include mobile-device {
        outline: none;
    }
}
