@import '@/styles/base';

.split_text {
    :global .v-split-text {
        &__word {
            background-color: rgba(255, 255, 255, 0.2);
        }
        
        &__line {
            background-color: rgba(255, 255, 255, 0.2);

            + * {
                margin-top: px-to-rem(4);
            }
        }
    }

}
