@import '../../../styles/base.scss';

.container {

    @at-root * + & {
        margin-top: px-to-rem(40);
    }

    &__header {
        @include text-header-2;
    }

    &__desc {
        @include text-styles;
        width: 80%;

        @at-root * + & {
            margin-top: px-to-rem(20);
        }

    }

}
