@import '@/styles/base';

.home_about {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0 var(--wrap);

  > * + * {
    margin-top: rem(32);
  }

  .description {
    max-width: 30em;
  }
}

.description {
  line-height: 120%;

  @include viewport-tablet-min {
    font-size: rem(16);
  }

  @include viewport-phone {
    font-size: rem(14);
  }
}
