@import '@/styles/base';

.popup_simple {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    --duration: 0.4s;

    visibility: hidden;
    @include transition((
        visibility var(--duration),
    ));

    &.shown {
        visibility: visible;
    }

    .overlay {
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-bg);
        opacity: 0.75;
    }

    .container {
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        opacity: 0;
        @include transition((
            opacity var(--duration)
        ));

        &.shown {
            opacity: 1;
        }

    }

    .scroll {
        position: relative;
        height: auto;
        max-height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 0 var(--wrap);

        @include hide-scroll-bars;

        width: px-to-rem(600);
        max-width: 100%;

        transform: scale(0.9, 1) translate3d(0, 5rem, 0);
        opacity: 0;
        @include transition((
            opacity var(--duration),
            transform var(--duration)
        ));

        &.shown {
            opacity: 1;
            transform: scale(1, 1) translate3d(0, 0, 0);
        }

    }

    .wrapper {
        position: relative;
        margin: px-to-rem(40) 0;
        background-color: var(--color-contrast-bg);

        &.use_padding {
            padding: calc(var(--wrap) + #{px-to-rem(20)}) var(--wrap) var(--wrap);
        }

    }

    .close {
        position: absolute;
        top: px-to-rem(20);
        right: px-to-rem(20);
    }


}

.prevent_scroll {
    overflow: hidden;

    body {
        overflow: hidden;
    }
}
