html,
body {
  @include hide-scroll-bars;
}

html {
  font-family: $font-family;
  font-size: 16px;
  line-height: 100%;
  -webkit-font-smoothing: antialiased;
  
  @include loading-indicator;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
button,
select {
  font-family: $font-family;
}

* {
  text-size-adjust: 100%;
  
  @include mobile-device (false) {
    outline: none;
  }
}
