@import './mixins/font-size';

:root {

    // sizes
    @include viewport-desktop {
        --wrap: #{px-to-rem(60)};
    }
    @include viewport-tablet {
        --wrap: #{px-to-rem(40)};
    }
    @include viewport-phone {
        --wrap: #{px-to-rem(20)};
    }
    --vh: 1vh;
    --vw: 1vw;
    --font-size: 16px;

    // colors
    --color-bg: #1d1d1d;
    --color-text: #fff;
    --color-link: #fff;
    --color-highlight: rgb(113, 172, 221);
    
    // header
    --header-height: #{px-to-rem(80)};
    --header-bg: #000;
    --header-line: #fff;
    --header-link: #fff;

}
