@import '@/styles/base';

.slider_h_scroll_list {
    overflow: visible;
    
    :global {
        .v-smooth-scroll {
            &__container {
                width: max-content;
            }
        }

        .v-custom-cursor {
            .v-custom-cursor__inner {
                position: relative;
                width: px-to-rem(100);
                height: px-to-rem(100);
                margin-top: px-to-rem(-50);
                margin-left: px-to-rem(-50);
                background: var(--color-bg);
                border: 1px solid var(--color-text);
                border-radius: 50%;
                opacity: 1;
                @include transition(transform 0.35s);
        
                &::before,
                &::after {
                    content: '';
                    display: block;
                    display: block;
                    @include absolute-fullsize;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: px-to-rem(36) auto;
                    @include transition(transform 0.35s);
                }
        
                &::before {
                    background-image: url('./drag_left.svg');
                }
        
                &::after {
                    background-image: url('./drag_right.svg');
                }
            }
                
            &.click {
                :global(.v-custom-cursor__inner) {
                    transform: scale(0.9);
        
                    &::before {
                        transform: translate(-7%, 0);
                    }
        
                    &::after {
                        transform: translate(7%, 0);
                    }
                }
            }
        }

    }

}
