@import '@/styles/base';

.button {
  @include reset-button;
  
  padding: rem(14) rem(20);
  border: 1px solid rgba(var(--color-white--rgb), 0.5);
  background-color: var(--color-black);

  font-size: rem(16);
  line-height: 100%;
  text-decoration: none;
  color: var(--color-white);

  @include transition(opacity 0.25s);

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
