@import '../../../styles/base';

.lazy_image {
    img {
        display: block;
        transition: opacity 0.35s;
        opacity: 0;
    }

    &.loaded {
        img {
            opacity: 1;
        }
    }

    &.use_placeholder {
        transition: background-color 0.35s;
        background-color: var(--color-placeholder);

        &.loaded {
            background-color: transparent;
        }
    }

    &.cover,
    &.contain {
        @include absolute-fullsize;

        img {
            @include absolute-fullsize;
        }

        &.cover {
            img {
                object-fit: cover;
            }
        }

        &.contain {
            img {
                object-fit: contain;
            }
        }

    }

}
