@import '@/styles/base';

.list {
  @include reset-ul;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.li {
  + .li {
    margin-left: px-to-rem(20);
  }
}

.link {
  text-decoration: none;

  font-size: px-to-rem(16);
  color: currentColor;

  &.active {
    text-decoration: underline;
  }
}
