@import '@/styles/base';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:not(.show) {
    visibility: hidden;
  }

  color: var(--color-white);
}

.scrollable {
  position: relative;
  z-index: 1;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  @include hide-scroll-bars;
}

.wrapper {
  padding: px-to-rem(80) var(--wrap-1) px-to-rem(60);
}
