@import '@/styles/base';

.home_intro {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(32);

  min-height: calc(100 * var(--svh));
  padding: rem(120) var(--wrap) rem(40);

  text-align: center;

  .description {
    max-width: 30em;
  }
}

.description {
  line-height: 120%;

  @include viewport-tablet-min {
    font-size: rem(16);
  }

  @include viewport-phone {
    font-size: rem(14);
  }
}
