@import '../../../styles/base';

.lazy_image {

    &.fullsize {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:not(.fullsize) {
        position: relative;
        width: 200px;
        height: 200px;
    }

    background-color: var(--color-placeholder);

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include transition(opacity .5s);
        opacity: 0;
    }

    &:global(.loaded) {
        img {
            opacity: 1;
        }
    }

}
