@import '../../../styles/base';

.breadcrumbs {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--wrap);
    background-color: var(--color-contrast-bg);
    border-bottom: 1px solid var(--color-text);

    min-height: px-to-rem(50);
    margin-bottom: px-to-rem(30);

    font-size: px-to-rem(14);
    line-height: 200%;

    ul {
        @include reset-ul;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;

        li {
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            + li {
                &::before {
                    content: '—';
                    display: inline-block;
                    margin: 0 0.5em;
                }
            }

            &:first-child {
                flex-shrink: 0;
            }

            @include viewport-phone {
                &:not(:first-child):not(:last-child) {
                    display: none;
                    
                    a {
                        display: none;
                    }

                    &::after {
                        content: '...';
                        display: inline-block;
                        margin: 0 0.25em;
                    }
                }

                &:first-child + li:not(:last-child) {
                    display: block;
                    flex-shrink: 0;
                }
            }

        }

    }

}
