@mixin heading-styles {
  margin: 0;
  font-family: $font-family-heading;
  font-weight: 300;
  line-height: 120%;
}

@mixin heading-1 {
  @include heading-styles;

  @include viewport-desktop {
    font-size: rem(100);
  }
  @include viewport-tablet {
    font-size: rem(70);
  }
  @include viewport-phone {
    font-size: rem(40);
  }
}

@mixin heading-2 {
  @include heading-styles;

  @include viewport-desktop {
    font-size: rem(80);
  }
  @include viewport-tablet {
    font-size: rem(58);
  }
  @include viewport-phone {
    font-size: rem(36);
  }
}

@mixin heading-3 {
  @include heading-styles;

  @include viewport-desktop {
    font-size: rem(60);
  }
  @include viewport-tablet {
    font-size: rem(45);
  }
  @include viewport-phone {
    font-size: rem(30);
  }
}

@mixin heading-4 {
  @include heading-styles;

  @include viewport-desktop {
    font-size: rem(50);
  }
  @include viewport-tablet {
    font-size: rem(36);
  }
  @include viewport-phone {
    font-size: rem(24);
  }
}

@mixin heading-5 {
  @include heading-styles;

  @include viewport-desktop {
    font-size: rem(40);
  }
  @include viewport-tablet {
    font-size: rem(30);
  }
  @include viewport-phone {
    font-size: rem(20);
  }
}

@mixin heading-6 {
  @include heading-styles;

  @include viewport-desktop {
    font-size: rem(30);
  }
  @include viewport-tablet {
    font-size: rem(24);
  }
  @include viewport-phone {
    font-size: rem(18);
  }
}
