@mixin reset-first-child-margin {
    &:first-child {
        margin-top: 0;
    }
}

@mixin reset-last-child-margin {
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin reset-button {
    background: transparent;
    border: 0;
    padding: 0;
}

@mixin reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
