@import '@/styles/base';

.form_textarea {
  .textarea {
    display: block;
    width: 100%;
    height: px-to-rem(180);
    padding: px-to-rem(18);
  
    font-size: px-to-rem(16);
    line-height: 100%;
    color: currentColor;
  
    transition: color 86400s, background-color 86400s;
  }
  
}
